/* Aula 01

body{background-color: #f00;} */

/*Aula 02*/

/* p{
    color: #00f;
    font-size: 20pt;
}

#p1{
    color: #0fe;
}

.txt{
    color: bisque;
    font-size: 30pt;
}

h4,h5,h6{
    color: rgb(255, 0, 179);
    font-size: 15pt;
    font-weight: lighter;
} */

/*Aula 03*/

